
#logo {
  width: 4em;
  height: 4em;
  border: 3px solid rgba(184,255,207, .5);
  border-radius: 20px;
  margin-left: 5px;
}
span.wanderText{
  font-family: 'Bungee Inline', cursive;
  font-size: 1em;
  text-shadow: 2px 2px 6px black;
}
#editDest {
  display: flex;
  flex-direction: column;
  align-items: center;

}
#loginCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
#signupCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
#addCss {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
#cardCss {
  border: 10px solid rgba(38,166,160,.6);
  border-radius: 15px;
  border-style: groove;
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

body {
  background: #DAE2F8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DAE2F8 , #D6A4A4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAE2F8 , #D6A4A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Bungee Inline', cursive;

}
#cliffdivePic {
  width: 41em;
  margin: 0 auto;
  right: 0;
  border: 5px solid rgba(38,166,160,.6);
  border-radius: 15px;
  border-style: groove;
  margin-right: 10px;
}

#bikePic {
  border: 5px solid rgba(38,166,160,.6);
  border-radius: 15px;
  border-style: groove;
  /*width: 100%;*/
  margin-right: 50px;
}

/* IE 6 */
* html .page-footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
.page-footer {
  position:fixed;
  margin: 0 auto;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}
footer.index-footer {
  margin: 0;
  position: absolute;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  padding: 1rem;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.custom-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .custom-container .section {
    width: 100%;
  }


#resize {
  width: 10vw;
}

.cityCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*.cityCards:hover {
  transform: scale(1.10);
}*/
  #index-banner .section {
    top: 10%;
  }
@media only screen and (max-width :800px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
