<h3>Add Destination</h3>

<!-- <div ng-controller="usersController as users">
  <div class="row">
    <form class="col s12" ng-submit="users.add(vacation)">
      <div class="row">
        <div class="input-field col s6">
          <input id="city" type="text" class="validate" ng-model="user.firstName">
          <label for="first_name">City</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" ng-model="user.lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="user.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="user.email">
          <label for="email">Email</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Sign up
      </button>
    </form>
  </div> -->
