<div id="editDest">
      <h3>Edit Destination</h3>

      <div ng-controller="usersController as users">
        <form ng-submit="users.edit(city)">
          <div class="row">
            <div class="input-field">
              <input id="city" type="text" class="validate" ng-model="city">
              <label for="city">City</label>
            </div>
          </div>
          <div class="editButtons">
            <button class="btn waves-effect waves-light" type="submit">Save</button>
        </form>

        <button class="btn waves-effect waves-light" type="submit" ng-click="users.delete($state.params)">
          Delete
        </button>
        <button class="btn waves-effect waves-light" type="submit" ng-click="users.addToVisited($state.params)">
          Visited!
        </button>
      </div>
    </div>
</div>

                  <!--==========** MAIN FOOTER **===========-->
                      <footer class="page-footer teal">
                        <div class="container">
                          <div class="row">
                            <div class="col l6 s12">
                  </footer>
