
  <div ng-controller="usersController as users">
    <p>
      {{$state.params}}
    </p>
    <div class="row">
      <form class="col s12" ng-submit="users.edit($state.params)">
        <div class="row">
          <div class="input-field col s6">
            <input id="city" type="text" class="validate" ng-model="$state.params.city">
            <label for="city">City</label>
          </div>
          <div class="input-field col s6">
            <input id="country" type="text" class="validate" ng-model="$state.params.country">
            <label for="country">Country</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="weatherDesc" type="text" class="validate" ng-model="$state.params.weatherDesc">
            <label for="weatherDesc">Weather Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="temp" type="text" class="validate" ng-model="$state.params.temp">
            <label for="temp">Average Temperature</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="humidity" type="text" class="validate" ng-model="$state.params.humidity">
            <label for="temp">Average Humidity</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Save Edit
        </button>
      </form>
    </div>
