  <!--==========** INDEX BANNER **===========-->
  <div id="index-banner" class="custom-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"><span class="wanderText" id="homeWanderText">WANDERLUSTER</span></h1>
        <div class="row center">
          <h5 class="header col s12 light"><span class="wanderText">NOT ALL THOSE WHO WANDER ARE LOST</span></h5>
        </div>
        <div class="row center">
          <a ui-sref="login" id="startPlanning" class="btn-large waves-effect waves-light teal lighten-1">Start Planning</a>
        </div>
        <br>
        <br>

      </div>

  <div class="container">
    <div class="section">

  <!--==========** ICONS **===========-->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flight_takeoff</i></h2>
            <h5 class="center">Adventure Awaits!</h5>

            <p class="light">Be a nomad! Use Wanderluster to browse the most beautiful cities, add them to your profile, and go. Don't forget to take pictures and document your travels with our upcoming blog service.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">alarm</i></h2>
            <h5 class="center">No Better Time Than Now</h5>

            <p class="light">Have kids? Leave them with your in-laws! Have a job? You can get a new one! Need money? Grab an old jar and hit the streets! There is no better time than now to see the world.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">card_travel</i></h2>
            <h5 class="center">Where do you want to go?</h5>

            <p class="light">Wanderluster makes it easy to review where you have been and where you would like to go. Our live weather feed will let you know when the weather is right for you and your travel mates.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="custom-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="left-align header col s12 light">"Wanderluster helped me plan my next vacation. The user-friendly, dynamic design made it easy for my family to navigate and compare cities and their weather. Thank you, Wanderluster!"<br><br>Brittany</h5>
        </div>
      </div>
    </div>
    <div class="custom"><img class="responsive-img" id="cliffdivePic" src="https://images5.alphacoders.com/385/thumb-1920-385422.jpg"  alt="Unsplashed background img 2"></div>
     </div>
   </div>
 </div>
<br>
<br>


  <div class="custom-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="left-align header col s12 light">"My boyfriend and I have wanted to explore the United States for years. Wanderluster helped us make that dream a reality!"<br><br>Gwenyth and Ricardo</h5>
        </div>
      </div>
    </div>
    <div class="custom"><img class="responsive-img" id="bikePic" src="http://www.gannett-cdn.com/-mm-/6cd128cb6663bc77f264b05b64f7841343624657/c=120-0-2002-1415&r=x404&c=534x401/local/-/media/2015/08/07/USATODAY/USATODAY/635745469589693375-ThinkstockPhotos-174105786.jpg" alt="Unsplashed background img 3"></div>
  </div>
</div>
 <br>
 <br>

  <!--==========** MAIN FOOTER **===========-->
      <footer class="index-footer teal ">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About Us</h5>
              <p class="grey-text text-lighten-4">We are three developers who set out to change your world, on vacation at a time.</p>

      <!--==========** FOOTER LINKS **===========-->
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Meet the owners</h5>
              <ul>
                <li><a class="white-text" href="https://www.linkedin.com/in/kellylunghamer" target="_blank">Kelly</a></li>
                <li><a class="white-text" href="https://www.linkedin.com/in/zachretterath" target="_blank">Zach</a></li>
                <li><a class="white-text" href="https://www.linkedin.com/in/seandavidrobbins" target="_blank">Sean</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
          </div>

  <!--FOOTER -->
        <div class="footer-wrapper col 13 s13">
          <footer id="footer"><p>
            <a class="white-text" href="#"><div> HOME  </div></a>
            <a class="white-text" href="#"><div> ABOUT</div></a>
            <a class="white-text" href="#"><div> CONTACT US </div></a>
            <a class="white-text" href="#"><div> TERMS OF USE </div></a>
            <a class="white-text" href="#"><div> PRIVACY POLICY </div></a>
            <a class="white-text" href="#"><div> ADVERTISE WITH US </div></a></p>
          </footer>

        </div>
      </div>

      <!--==========** COPYRIGHT FOOTER **===========-->
        <div class="footer-copyright">
          <div class="container">
          Created by <a class="brown-text text-lighten-3">Kelly, Zach, & Sean with love, determination, and some frustration</a>
          </div>
        </div>
      </footer>
