<div ng-controller="usersController as users">

  <h1>Welcome, <span ng-show="users.currentUser">{{users.currentUser.firstName}}</span></h1>

  <!-- <form ng-submit="users.hometown(city)">
    <div class="row">
      <div class="input-field col s6">
        <input id="city" type="text" class="validate" ng-model="city">
        <label for="city">City</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Home</button>
  </form>
</div> -->


  <!--==========** MAIN FOOTER **===========-->
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <!--==========** FOOTER LINKS **===========-->
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Meet the owners</h5>
            <ul>
              <li><a class="white-text" href="https://www.linkedin.com/in/kellylunghamer" target="_blank">Kelly</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/in/zachretterath" target="_blank">Zach</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/in/seandavidrobbins" target="_blank">Sean</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
        </div>

<!--FOOTER -->
      <div class="footer-wrapper col 13 s13">
        <footer id="footer"><p>
          <a class="white-text" href="#"><div> HOME  </div></a>
          <a class="white-text" href="#"><div> ABOUT</div></a>
          <a class="white-text" href="#"><div> CONTACT US </div></a>
          <a class="white-text" href="#"><div> TERMS OF USE </div></a>
          <a class="white-text" href="#"><div> PRIVACY POLICY </div></a>
          <a class="white-text" href="#"><div> ADVERTISE WITH US </div></a></p>
        </footer>

      </div>
    </div>

    <!--==========** COPYRIGHT FOOTER **===========-->
      <div class="footer-copyright">
        <div class="container">
        Created by <a class="brown-text text-lighten-3">Kelly, Zach, & Sean with love, determination, and some frustration</a>
        </div>
      </div>
     </footer>
    </body>
