<h1>Places to Visit</h1>

<div ng-controller="usersController as users" class="cityCards">
  <div ng-repeat="place in users.currentUser.placesToVisit">
    <div class="row">
      <div class="col s12 m12">
        <div class="card" id="cardCss">
          <div class="card-image">
            <div class="card-content">
                <form class="" action="#">
                  <h5>{{place.city}}</h5>
                  <p>country: {{place.country}}</p>
                  <p>forecast: {{place.weatherDesc}}</p>
                  <p>current temperature: {{place.temp | number:0}}&deg </p>
                  <p>humidity: {{place.humidity}}%</p>
                  <img id="resize" src="http://openweathermap.org/img/w/{{place.icon}}.png">
                  <a ui-sref="editplace({place:place})">
                    <button class="btn-large waves-effect waves-light teal lighten-1" type="submit">Edit</button>
                  </a>
                  <div class="card-action">
                    <a href="#"></a>
                </form>
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--==========** MAIN FOOTER **===========-->
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <!--==========** FOOTER LINKS **===========-->
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Meet the owners</h5>
            <ul>
              <li><a class="white-text" href="https://www.linkedin.com/in/kellylunghamer" target="_blank">Kelly</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/in/zachretterath" target="_blank">Zach</a></li>
              <li><a class="white-text" href="https://www.linkedin.com/in/seandavidrobbins" target="_blank">Sean</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
        </div>

<!--FOOTER -->
      <div class="footer-wrapper col 13 s13">
        <footer id="footer"><p>
          <a class="white-text" href="#"><div> HOME  </div></a>
          <a class="white-text" href="#"><div> ABOUT</div></a>
          <a class="white-text" href="#"><div> CONTACT US </div></a>
          <a class="white-text" href="#"><div> TERMS OF USE </div></a>
          <a class="white-text" href="#"><div> PRIVACY POLICY </div></a>
          <a class="white-text" href="#"><div> ADVERTISE WITH US </div></a></p>
        </footer>

      </div>
    </div>

    <!--==========** COPYRIGHT FOOTER **===========-->
      <div class="footer-copyright">
        <div class="container">
        Created by <a class="brown-text text-lighten-3">Kelly, Zach, & Sean with love, determination, and some frustration</a>
        </div>
      </div>
     </footer>
    </body>
